@font-face {
  font-family: "lerma";
  src: url("../font/LogoLerma.otf");
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #B61F24;
}
.cursor-pointer{
  cursor: pointer;
}
.img-logo-lerma{
  width: 50%
}
.img-porductos{
  width: 60%
}

.img-porductos1{
  width: 50%
}

.img-porductos2{
  width: 40%
}

.lerma {
  font-family: "lerma";
  font-size: 5ch;
}

.navbar-b {
  background-color: #000;
}

.navbar-b {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #B61F24;
}

.navbar-b.navbar-reduce .nav-link {
  color: #B61F24;
}

.navbar-b.navbar-reduce .nav-link.active {
  color: #B61F24;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #B61F24;
}

.title-left:before {
  background-color: #B61F24;
}

.form-group > input{
  border: 1px solid #B61F24;
}

.form-group > textarea{
  border: 1px solid #B61F24;
}

.button-big {
  padding: .2rem;
  font-size: 1.2rem;
  width: 10rem;
  background-color: #B61F24;
}

.button-big:hover {
  background-color: #B61F24;
}

.list-ico span{
  color: #B61F24;
}

.socials .ico-circle {
  box-shadow: 0 0 0 3px #B61F24;
}

.overlay-mf {
  background-color: #B61F24;
}

.back-to-top {
  background-color: #B61F24;
}

.logo-pacueco{
  width: 15%;
}

.service-box .s-description {
  height: 100px;
  overflow: auto;
  text-align: justify !important;
  font-size: 13px;
}

.work-content .w-more {
  height: 90px;
  overflow: auto;
}